.title {
  font-size: 3rem;
  padding-bottom: 20px;
  margin-bottom: -20px;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
