.title {
  font-size: 3rem;
  padding-bottom: 20px;
  margin-bottom: -20px;

  position: relative;
}

.subtitle {
  font-size: 2rem;
  padding-bottom: 20px;
  margin-bottom: -20px;

  line-height: 2rem;
  font-weight: normal;

  position: relative;
}

@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}
